.wrapper{
    display: flex;
}

.item-post{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.item{
    margin: 20px;
}

.content{
    background-color: #ccc;
    text-align: center;
}

.content li{
    display: flex;
    justify-content: center;
   
}

.content li:hover{
    font-weight: bold;
    font-size: 20px;
}

.content img{
    width: 60%;
    display: inline-block;
    
}

.content img:hover{
    width: 65%;
    
}